@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  background: linear-gradient(to bottom right, #483D8B, #9370DB); /* Purple gradient background */
}

.container {
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #9370DB; /* Medium purple border */
  text-align: center;
  background: linear-gradient(to bottom right, #D8BFD8, #9370DB); /* Purple gradient background */
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
  color: #9370DB; /* Medium purple text color */
}

p {
  margin-bottom: 10px;
}

label,
input {
  display: block;
  padding: 5px;
  margin: 0;
}

input {
  width: 150px;
  text-align: center;
}

input,
select {
  display: inline;
  font-family: Poppins;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid #9370DB;
  background: none;
  outline: none;
}

select {
  padding: 5px;
}

h3 {
  margin: 10px 0 0 0;
}

#result {
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: #9370DB; /* Medium purple text color */
}

button {
  width: 212px;
  height: 30px;
  font-weight: bold;
  font-family: Poppins;
  font-size: 16px;
  background: linear-gradient(to bottom right, #483D8B, #9370DB); /* Purple gradient background */
  border: 1px solid #9370DB; /* Medium purple border */
  color: #9370DB; /* Medium purple text color */
}